<a href="https://colab.research.google.com/github/robsworld718/Gender_Inequality_HIV/blob/main/Gender_Inequality_HIV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
filename = '/content/Jan 2021 Data - Viz5 Gender Inequality and HIVAIDS.csv'

In [9]:
Gender_hiv = pd.read_csv(filename, encoding= 'unicode_escape')
Gender_hiv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2640 entries, 0 to 2639
Data columns (total 10 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   Country                                                                         2640 non-null   object
 1   UNICEF Region                                                                   2640 non-null   object
 2   Year                                                                            2640 non-null   int64
 3   Sex                                                                             2640 non-null   object
 4   Age                                                                             2640 non-null   object
 5   Estimated incidence rate of new HIV infection per 1 000 uninfected population   2520 non-null   float64
 6   Estimated number of annual AIDS related deaths                                  2580 non-null   float64
 7   Estimated number of annual new HIV infections                                   2520 non-null   float64
 8   Estimated number of people living with HIV                                      2640 non-null   int64
 9   Estimated rate of annual AIDS related deaths  per 100 000 population            2580 non-null   float64
dtypes: float64(4), int64(2), object(4)
memory usage: 206.4+ KB

In [10]:
Gender_hiv.duplicated().any()

False

In [11]:
Gender_hiv.isnull().sum()

Country                                                                             0
UNICEF Region                                                                       0
Year                                                                                0
Sex                                                                                 0
Age                                                                                 0
Estimated incidence rate of new HIV infection per 1 000 uninfected population     120
Estimated number of annual AIDS related deaths                                     60
Estimated number of annual new HIV infections                                     120
Estimated number of people living with HIV                                          0
Estimated rate of annual AIDS related deaths  per 100 000 population               60
dtype: int64

In [12]:
Gender_hiv[Gender_hiv['Estimated incidence rate of new HIV infection per 1 000 uninfected population '].isnull()]

         Country  ... Estimated rate of annual AIDS related deaths  per 100 000 population
1320        Mali  ...                                               2.22
1321        Mali  ...                                               0.69
1322        Mali  ...                                               2.55
1323        Mali  ...                                               0.76
1324        Mali  ...                                               2.86
...          ...  ...                                                ...
1495  Mauritania  ...                                               1.66
1496  Mauritania  ...                                               1.42
1497  Mauritania  ...                                               1.61
1498  Mauritania  ...                                               1.38
1499  Mauritania  ...                                               1.57

[120 rows x 10 columns]